* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

#left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#left-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

main {
  flex: 2;
  background-color: bisque;
  min-height: 400px;
}

aside {
  flex: 1;
  background-color: burlywood;
  min-height: 400px;
}